# Maven
/target/
target/

/data/

# Logs
*.log

# IDE
.idea/
*.iml
.vscode/

# OS files
.DS_Store
Thumbs.db

# Java build artifacts
*.class
GUI_PROJECT.md

# Temporary files
*.tmp
*.swp

*.bin

PROJECT_REPORT.md

results2/

PROJECT.md

*.sh