# Maven
/target/
target/

/data/

# Logs
*.log

# IDE
.idea/
*.iml
.vscode/

# OS files
.DS_Store
Thumbs.db

resources/

# Java build artifacts
*.class
GUI_PROJECT.md

# Temporary files
*.tmp
*.swp

*.bin

PROJECT.md

*.sh