# Maven
/target/
target/

/data/food-101

cifar.tar.gz


# IDE
.idea/
*.iml
.vscode/

# OS files
.DS_Store
Thumbs.db

# Java build artifacts
*.class
GUI_PROJECT.md

# Temporary files
*.tmp
*.swp

*.bin

PROJECT_REPORT.md

results2/
results3/

PROJECT.md

*.sh